.box {
  padding: 0.75em;
  border-radius : 0.5em;
  border : 2px solid #ddd;
  height: auto;
  margin-bottom: 1em;
  box-shadow: 10px 10px #5a5858;
  
}

.div1 {
    background-color: silver;
    border-radius : 0.5em;
}

.header {
    text-align: center;
}

.div2 {
/*    background-color: aquamarine;*/
    animation-delay: 1s;
}

.div3 {
/*    background-color: aqua;*/
    animation-delay: 2s;
}

.div4 {
    animation-delay: 3s;
}

footer {
    text-align: center;
}
